html {
    font-family: 'Inter', sans-serif;
    background: #fffbf8;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

.hero {
    background: url('../img/hero-bg.png') no-repeat;
    background-size: cover;
    background-position: center 90%;
    padding: 0 15px 170px;
    margin: 0 auto;
    color: #ffffff;
}

.hero .wrapper {
    max-width: 843px;
    margin: 0 auto;
    padding: 160px 0;
}

.hero h2 {
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #ffffff;
    margin: 0;
}

.hero h1 {
    font-weight: 900;
    font-size: 64px;
    line-height: 78px;
    color: #fffafa;
    text-shadow: 10px 10px 20px rgba(123, 31, 2, 0.2);
}

.wrapperSpan {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.title-w-img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.connect {
    /*max-width: 1062px;*/
    /*width: 100%;*/
    margin: 0px auto;
    padding: 0 15px;
}

.connect h2 {
    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    color: #e85222;
    margin-bottom: 60px;
}

.connect-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    max-width: 1062px;
    width: 100%;
    margin: 0 auto 40px;
    /*column-gap: 50px;*/
}

.connect-item__img {
    position: relative;
}

.connect-item__img:before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #fdb913 0%, #e85222 100%);
    opacity: 0.3;
    filter: blur(100px);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.connect-item__img--mob {
    display: none;
}

.connect-item__info {
    max-width: 517px;
    width: 100%;
}

.connect-item h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: #e85222;
}

.watch_list {
    padding: 15px 30px;
    gap: 10px;
    max-width: 254px;
    width: 100%;
    height: 58px;
    background: #e85222;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    /* identical to box height, or 28px */

    color: #ffffff;
}

.connect-item p {
    font-weight: 300;
    font-size: 22px;
    line-height: 31px;
    color: #000000;
    max-width: 400px;
    width: 100%;
}

.next {
    max-width: 1280px;
    background: linear-gradient(0deg, #e85222 20.65%, #ff8227 102.26%);
    border-radius: 20px;
    margin: 150px auto 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 80px;
    padding: 80px 0;
}

.next .wrapper {
    position: relative;
}

.next .wrapper:before {
    content: '';
    background: url(../img/next-before.png) no-repeat;
    width: 224px;
    height: 316px;
    position: absolute;
    transform: rotate(4.82deg);
    top: 331px;
    left: -130px;
}

.next .wrapper:after {
    content: '';
    background: url(../img/next-after.png) no-repeat;
    width: 116px;
    height: 184px;
    position: absolute;
    transform: rotate(4.82deg);
    top: 70px;
    right: -120px;
}

.next-item:nth-child(3):after {
    content: '';
    background: url(../img/next-after.png) no-repeat;
    width: 116px;
    height: 184px;
    position: absolute;
    transform: rotate(4.82deg);
    top: 70px;
    right: -120px;
}

.next__title {
    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
    color: #ffffff;
    margin: 0 0 0 80px;
}

.next-item {
    background: #ffffff;
    box-shadow: 10px 10px 20px rgba(123, 31, 2, 0.2);
    border-radius: 10px;
    max-width: 600px;
    height: fit-content;
    padding: 35px 10px;
    position: relative;
    margin-bottom: 65px;
}

.next-item:nth-child(1) {
    transform: rotate(-2deg);
}

.next-item:nth-child(2) {
    transform: translateX(120px) rotate(2deg);
}

.next-item:nth-child(3) {
    transform: rotate(-2deg);
}

.next-item:nth-child(4) {
    transform: translateX(120px) rotate(2deg);
}

.next-item__title {
    position: absolute;
    height: 48px;
    padding: 0 20px;
    left: 50%;
    top: -25px;
    background: #a459fa;
    box-shadow: 0px 10px 20px rgb(108 23 175 / 20%);
    border-radius: 10px;
    font-weight: 900;
    font-size: 28px;
    line-height: 48px;
    color: #ffffff;
    text-align: center;
    margin: 0;
    transform: translate(-50%);
    width: fit-content;
}

.next-item-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.next-item p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}

.questions {
    max-width: 1100px;
    padding: 0 15px;
    margin: 160px auto 0;
}

.questions h2 {
    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    color: #e85222;
}

.questions .tabs {
    box-shadow: none;
}

.questions .tab-label {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
    letter-spacing: -0.25px;
    text-align: left;
    padding: 30px 30px 30px 49px;
    margin: 8px 10px;
    background: #ffebe0;
    border-radius: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #3a3a3a;
}

.questions input:checked + .tab-label {
    background-color: #ffebe0;
}

.questions .tab-content-acc {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    margin-left: 40px;
    transition: none;
}

.questions .tab-content-acc p {
    margin: 0;
    padding: 0 20px;
}

.questions .tab-content-acc ul {
    margin: 0;
}

input:checked ~ .tab-content-acc {
    max-height: 100vh;
    padding: 30px;
    background: #ffebe0;
    margin: -15px auto 20px;
    max-width: 1020px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.questions .tab-label::after {
    content: '';
    width: 35px;
    margin-right: 15px;
    height: 35px;
    background: url(../img/ico-plus.png) no-repeat;
}

.questions input:checked + .tab-label::after {
    transform: rotate(45deg);
}

.questions-links {
    margin-top: 30px;
    margin-left: 60px;
}

.questions-links__link {
    color: #24a76b;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    border-bottom: 1px solid #24a76b;
    margin-right: 36px;
}

.tab-label {
    transition: 0.3s;
}

.tab-label:hover {
    background: #ffebe0;
}

.download {
    max-width: 820px;
    margin: 120px auto 0;
    display: flex;
    column-gap: 50px;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.download-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.download-info span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
}

.download-info__link {
    margin-top: 50px;
    /*padding: 25px 45px;*/
    background: #a559f8;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    max-width: 334px;
    width: 100%;
    height: 58px;
}

.download-info__terms {
    margin-top: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-decoration-line: underline;
    color: #3a3a3a;
}

.download-img--mob {
    display: none;
}

@media screen and (max-width: 1025px) {
    .next {
        flex-direction: column;
    }

    .next__title br {
        display: none;
    }

    .next .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 30px;
    }

    .next .wrapper:before,
    .next .wrapper:after {
        display: none;
    }

    .next-item:nth-child(3):after {
        display: none;
    }

    .next-item__title {
        display: flex;
        align-items: center;
        top: -35px;
        font-size: 22px;
        line-height: 28px;
        height: 73px;
    }

    .connect {
        /*padding: 0 30px;*/
    }
}

@media screen and (max-width: 769px) {
    .connect-item {
        column-gap: 40px;
    }

    .connect-item h3 {
        font-size: 22px;
        line-height: 27px;
    }

    .connect-item p {
        font-size: 22px;
        line-height: 31px;
    }

    .connect-item__img img {
        width: 100%;
    }

    .download-info__link {
        font-size: 20px;
        line-height: 28px;
        margin-top: 20px;
    }

    .download-img {
        display: none;
    }

    .download-img--mob {
        background: url('../img/phone-mob.png') no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        align-content: center;
        align-items: center;
        justify-content: center;
        gap: 20px;
        height: 266px;
        padding-top: 70px;
    }

    .connect-item__img {
        display: none;
    }

    .connect-item__img--mob {
        display: block;
    }

    .next-item {
        max-width: 600px;
        width: 100%;
        margin-bottom: 80px;
    }

    .next-item:nth-child(2) {
        transform: rotate(2deg);
    }

    .next-item:nth-child(4) {
        transform: rotate(2deg);
    }

    .questions {
        margin: 100px auto 0;
    }

    .questions .tab-label {
        padding: 15px 120px 15px 15px;
    }

    .questions .tab-label::after {
        position: absolute;
        right: 35px;
    }

    input:checked ~ .tab-content-acc {
        margin: -15px 10px 0;
        padding: 20px 0 20px 0;
    }

    .download {
        margin: 60px auto 0;
        padding: 0 15px;
        flex-direction: column;
        row-gap: 40px;
    }
}

@media screen and (max-width: 700px) {
    br {
        display: none;
    }

    .hero {
        text-align: center;
        padding: 0 30px 90px;
    }

    .hero h2 {
        font-size: 28px;
        line-height: 34px;
    }

    .hero h1 {
        font-size: 46px;
        line-height: 56px;
    }

    .hero span {
        font-size: 18px;
        line-height: 25px;
    }

    .hero .wrapper {
        padding: 70px 0;
    }

    .title-w-img {
        flex-direction: column;
    }

    .connect {
        margin: 20px auto;
        padding: 0 30px;
    }

    .connect h2 {
        font-size: 28px;
        line-height: 34px;
        margin: 0 auto 35px;
    }

    .connect-item {
        flex-direction: column;
    }

    .connect-item img {
        width: 100%;
    }

    .connect-item .download-info__link {
        margin-bottom: 50px;
    }

    .connect-item h3 {
        font-size: 19px;
        line-height: 23px;
    }

    .connect-item__img img {
        max-width: 100%;
    }

    .connect-item:nth-child(odd) {
        flex-direction: column-reverse;
    }

    .top_img {
        margin-top: 40px !important;
    }


    .next {
        flex-direction: column;
        padding: 30px;
        margin: 80px auto 50px;
    }

    .next__title {
        font-size: 28px;
        line-height: 34px;
        margin: 0;
    }

    .next-item {
        max-height: initial;
        flex-direction: column;
        transform: none !important;
        padding: 35px 30px;
    }

    .next-item-info {
        flex-direction: column;
    }

    .next .wrapper:before,
    .next .wrapper:after {
        display: none;
    }

    .questions {
        margin: 80px auto 0;
    }

    .questions h2 {
        font-size: 28px;
        line-height: 34px;
    }

    .questions .tab-content-acc p {
        padding: 0;
        margin-bottom: 0;
    }

    .questions .tab-content-acc ul {
        padding: 15px;
    }

    .questions .tab-label {
        font-size: 14px;
        line-height: 17px;
        padding: 15px 70px 15px 15px;
        margin: 10px 0;
    }

    .questions .tab-label::after {
        position: absolute;
        right: 30px;
    }

    input:checked ~ .tab-content-acc {
        padding: 15px;
        font-size: 14px;
        line-height: 24px;
        margin: -15px auto 0;
    }

    .download {
        align-items: flex-start;
        padding: 0 30px;
    }

    .download-info span br {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .download-img--mob {
        background-size: contain;
        background-position: bottom;
    }

    .next-item__title {
        max-width: 214px;
        width: fit-content;
    }
}

@media screen and (max-width: 430px) {
    .download-info__link {
        /*padding: 25px 15px;*/
    }
}
